<div class="Calculator">
    <div class="Calc">
        <label for=""></label>
        <input class="Count" type="text" [(ngModel)]="Final">
        <div class="Buttons">
            <button id="BTN1" class="BTN" (click)="Count('1')">1</button>
            <button id="BTN2" class="BTN" (click)="Count('2')">2</button>
            <button id="BTN3" class="BTN" (click)="Count('3')">3</button><br>
            <button id="BTN4" class="BTN" (click)="Count('4')">4</button>
            <button id="BTN5" class="BTN" (click)="Count('5')">5</button>
            <button id="BTN6" class="BTN" (click)="Count('6')">6</button><br>
            <button id="BTN7" class="BTN" (click)="Count('7')">7</button>
            <button id="BTN8" class="BTN" (click)="Count('8')">8</button>
            <button id="BTN9" class="BTN" (click)="Count('9')">9</button><br>
            <button id="BTNM" class="BTN" (click)="Count('+')">+</button>
            <button id="BTNX" class="BTN" (click)="Count('*')">X</button>
            <button id="BTNBAR" class="BTN" (click)="Count('/')">/</button><br>
            <button id="BTNEQUAL" class="BTN" (click)="Count('=')">=</button>
            <button id="CopyBTN" class="CopyBTN" (click)="Copy()">{{ CopyBTNText }}</button>
        </div>
    </div>
</div>